* {
    color: purple;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
h1,
h2,
h3 {
    color: blueviolet;
}

.main-heading {
    color: rgb(3, 3, 3);
    
}